<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield(:head) %>
  </head>
  <body>
    <div id="container">
		<div id="leader">
		<p>This is a sample application demonstrating the use of the Authlogic_RPX plugin for ruby/rails. <a href="http://github.com/tardate/authlogic_rpx/blob/master/README.rdoc">More information?</a></p>
		<p>Created by Paul Gallagher (<a href="http://tardate.com">tardate.com</a>) and released under the <a href="http://github.com/tardate/rails-authlogic-rpx-sample/blob/master/MIT-LICENSE">MIT license</a>.</p>
		</div>	
		<div id="user_nav">
			<%= link_to "Home", root_path %> |
			<% if current_user %>
				<%= link_to "Profile", user_path(:current) %> |
				<%= link_to "Sign out", signout_path %>
			<% else %>
				<%= link_to "Register", new_user_path %> |
				<%= link_to "Sign in", signin_path %> |
				<%= rpx_popup( :link_text => "Register/Sign in with RPX..", :app_name => RPX_APP_NAME, :return_url => user_sessions_url, :unobtrusive => false ) %> 
			<% end %>
		</div>

		<div id="header">
			<%- flash.each do |name, msg| -%>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<%- end -%>

			<%- if show_title? -%>
				<h1><%=h yield(:title) %></h1>
			<%- end -%>
		</div>

		<%= yield %>
		

    </div>
  </body>
</html>
